<div class="container-fluid">
    <button ng-click="$ctrl.logs()">Print Logs</button>
    <h4>Player Name</h4>
    <form ng-submit="$ctrl.addNames()">
        <div ng-show="!$ctrl.namesEntered" ng-repeat="player in $ctrl.players">
            <label for="playerId">{{player.playerId}}: </label>
            <input type="text" id="name" ng-model="player.name">
        </div>

        <div ng-show="$ctrl.namesEntered" ng-repeat="player in $ctrl.players">
            <div ng-show="player.isAlive" class="row">
                <span class="col-md-1">{{player.playerId}}: </span>
                <span class="col-md-2">{{player.name}}</span>
                <button class="col-md-1" ng-show="player.canFight" ng-click="$ctrl.addPlayerFought(player, $index)">Fought</button>
                <span class="col-md-1" ng-show="!player.canFight"></span>
                <button class="col-md-1" ng-click="$ctrl.removePlayer($index)">Died</button>
            </div>
        </div>
        <div>
            <input ng-show="!$ctrl.namesEntered" type="submit" value="Add Names">
            <input ng-show="$ctrl.namesEntered" type="reset" ng-click="$ctrl.reset()" value="Reset">
        </div>
    </form>
    <div ng-show="$ctrl.namesEntered">
        <h4>Fight Pool</h4>
        <div ng-repeat="player in $ctrl.players">
            <div ng-show="player.canFight && player.isAlive">{{player.name}}</div>
        </div>
    </div>
</div>